In [1]:
import pandas
import seaborn
import matplotlib.pyplot as plt

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipotle_data = pandas.read_csv(url, sep = '\t')

chipotle_data.head()	
Use the appropriate pandas methods to get the info on the data and describe it.
List the column names in the dataset.
What is the most ordered item? How many exactly were ordered?
How much revenue did this chipotle make? 
How many orders were placed at this chipotle?
How many items cost most than $10?
List the name of all unique items in the dataset.
Create a histogram of the top 5 items sold.
Create a pie chart showing the number of times each item was order.
Create a scatter plot showing how many items were order based on the price of the item.
Your team can come up with its own custom question to answer and visualize!

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [6]:
chipo = df

NameError: name 'df' is not defined

In [5]:
chipo.total("item_name").agg({
    "quantity" : "sum"
})

TypeError: 'DataFrame' object is not callable